@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录博客后台管理系统</title>
    <link href="/adminstyle/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/adminstyle/js/cloud.js" type="text/javascript"></script>
    <script src="~/layui/layui.js"></script>
    <script language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            });
        });
    </script>
</head>
<body style="background-color:#1c77ac; background-image:url(/adminstyle/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">

    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>

    <div class="logintop">
        <span>欢迎登录博客管理平台</span>
        @*<ul>
            <li><a href="#">回首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>*@
    </div>
    <div class="loginbody">
        <span class="systemlogo"></span>
        <div class="loginbox">
            <ul>
                <li><input id="username" name="username" type="text" class="loginuser" value="@ViewBag.UserName" required="required" /></li>
                <li><input id="password" name="password" type="password" class="loginpwd" value="" required="required" /></li>
                <li><input name="" type="button" class="loginbtn" value="登录" onclick="denglu()" /> </li>
            </ul>
            @Html.AntiForgeryToken()
        </div>
    </div>
    <div class="loginbm">版权所有 &copy;  2017 ~ 2027  <a href="http://www.borun.xyz">borun.xyz</a>  </div>
<script>
    $(document).keydown(function (event) {
        if (event.keyCode === 13) {
            denglu();
        }
    });
    function denglu() {
        layui.use('layer',
            function () {
                var layer = layui.layer, $ = layui.jquery;
                var username = $.trim($('#username').val());
                var password = $.trim($('#password').val());
                if (username === '' || password === '') {
                    layer.msg("     用户名或密码不能为空！    ");
                    return;
                }
                var requestVerificationToken = $("input[name=__RequestVerificationToken]").val();
                var postdata = {
                    username: username,
                    password: password,
                    __RequestVerificationToken: requestVerificationToken
                };
                var url = "/Admin/Login/doLogin";
                $.post(url,
                    postdata,
                    function (data) {
                        if (data.status === "y") {
                            layer.msg(data.info, { shift:4,icon: 6});
                            setTimeout(function() {
                                location.href = "/Admin/Home/Index";
                            }, 1000);
                        } else {
                            layer.msg(data.info);
                        }
                    },
                    'json');
            });
    }
</script>
</body>
</html>